html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
@import url('https://fonts.googleapis.com/css?family=Monoton');
body {
  display: flex;
  justify-content: center;
  background: #FC235F;
}

.intro {
  width: 100%;
  height: 100vh;
}

h1 {
color: #fff;
font-family: 'Monoton';
font-weight:normal;
font-size: 15vw;
text-shadow: #1142FF 1px 1px,#1142FF -0px 0px,#1142FF -1px 1px,#1142FF -2px 2px,#1142FF -3px 3px,#1142FF -4px 4px,#1142FF -5px 5px,#1142FF -6px 6px,#1142FF -7px 7px,#1142FF -8px 8px,#1142FF -9px 9px,#1142FF -10px 10px,#1142FF -11px 11px,#1142FF -12px 12px,#1142FF -13px 13px,#1142FF -14px 14px,#1142FF -15px 15px,#1142FF -16px 16px,#1142FF -17px 17px,#1142FF -18px 18px,#1142FF -19px 19px,#1142FF -20px 20px,#1142FF -21px 21px,#1142FF -22px 22px,#1142FF -23px 23px,#1142FF -24px 24px,#1142FF -25px 25px,#1142FF -26px 26px,#1142FF -27px 27px,#1142FF -28px 28px,#1142FF -29px 29px,#1142FF -30px 30px,#1142FF -31px 31px,#1142FF -32px 32px,#1142FF -33px 33px,#1142FF -34px 34px,#1142FF -35px 35px,#1142FF -36px 36px,#1142FF -37px 37px,#1142FF -38px 38px,#1142FF -39px 39px,#1142FF -40px 40px,#1142FF -41px 41px,#1142FF -42px 42px,#1142FF -43px 43px,#1142FF -44px 44px,#1142FF -45px 45px,#1142FF -46px 46px,#1142FF -47px 47px,#1142FF -48px 48px,#1142FF -49px 49px,#1142FF -50px 50px,#1142FF -51px 51px,#1142FF -52px 52px,#1142FF -53px 53px,#1142FF -54px 54px,#1142FF -55px 55px,#1142FF -56px 56px,#1142FF -57px 57px,#1142FF -58px 58px,#1142FF -59px 59px,#1142FF -60px 60px,#1142FF -61px 61px,#1142FF -62px 62px,#1142FF -63px 63px,#1142FF -64px 64px,#1142FF -65px 65px,#1142FF -66px 66px,#1142FF -67px 67px,#1142FF -68px 68px,#1142FF -69px 69px,#1142FF -70px 70px,#1142FF -71px 71px,#1142FF -72px 72px,#1142FF -73px 73px,#1142FF -74px 74px,#1142FF -75px 75px,#1142FF -76px 76px,#1142FF -77px 77px,#1142FF -78px 78px,#1142FF -79px 79px,#1142FF -80px 80px,#1142FF -81px 81px,#1142FF -82px 82px,#1142FF -83px 83px,#1142FF -84px 84px,#1142FF -85px 85px,#1142FF -86px 86px,#1142FF -87px 87px,#1142FF -88px 88px,#1142FF -89px 89px,#1142FF -90px 90px,#1142FF -91px 91px,#1142FF -92px 92px,#1142FF -93px 93px,#1142FF -94px 94px,#1142FF -95px 95px,#1142FF -96px 96px,#1142FF -97px 97px,#1142FF -98px 98px,#1142FF -99px 99px,#1142FF -100px 100px,#1142FF -101px 101px,#1142FF -102px 102px,#1142FF -103px 103px,#1142FF -104px 104px,#1142FF -105px 105px,#1142FF -106px 106px,#1142FF -107px 107px,#1142FF -108px 108px,#1142FF -109px 109px,#1142FF -110px 110px,#1142FF -111px 111px,#1142FF -112px 112px,#1142FF -113px 113px,#1142FF -114px 114px,#1142FF -115px 115px,#1142FF -116px 116px,#1142FF -117px 117px,#1142FF -118px 118px,#1142FF -119px 119px;
}

h2 {
  color: #403F3F;
  font-family: 'Monoton';
  font-weight:normal;
  font-size: 2rem;
}
p, li {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
}
img {
    display: block;
    margin: auto;
    max-width: 100%;
}
.right {
    float: right;
    margin: 1.5rem 0 1rem 1rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}

li:last-child {
  border: 0;
}

li:hover {
  background-color: #FD6F97;
}


#container2 {
    margin: 2.5em auto;
    max-width: 800px;
    padding: 2rem 4rem;
    background: #F4F4F4;
    overflow: auto;
}

.song {
  color: #403F3F;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}

.listen a:hover {
  color: #0AC3FC;
}

/* media queries */


@media (max-width: 800px) {
  ul {
  padding-top: 14rem;
}

.listen {
  padding: 1rem;
  font-weight: 500;
}

h1 {
  width: 100%;
  height: 100vh;
  padding-left: 4rem;
  padding-top: 15rem;
}

.animated {
padding: 1rem;
font-weight: 500;
}

.delay-2s {
padding-bottom: 2rem;
}

h2 {
font-size: 1.5rem;
}
}
